[submodule "vendor/bashjazz/utils"]
	path = vendor/bashjazz/utils
	url = https://github.com/0rion3/bashjazz/utils.git
[submodule "vendor/bashjazz/network"]
	path = vendor/bashjazz/network
	url = https://github.com/0rion3/bashjazz/network.git
